.menu {
    background-color: #EA6C51;
    width: 270px;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
}

.logos {
    text-align: center;
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
}

.logos img {
    width: 150px;
    height: auto;
    box-sizing: border-box;
    padding: var(--padding);
    margin: 15px;
    border-radius: 50%;
}

.titulo {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

.Inicio img {
    width: 27px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}

.Docentes img {
    width: 27px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
}

.Estudiantes img {
    width: 27px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}

.Materias img {
    width: 27px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}

.Secciones img{
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 10px;
}

.Periodo img {
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 10px;
}

.Usuarios img {
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 10px;
}

.menu a h2 {
    font-weight: 600;
}

.menu a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    height: 60px;
    width: 200px;
}

.menu a :hover {
    background-color: rgb(94, 5, 5);
    border-radius: 3px;
    color: #fff;
}

.menu a h2 :hover {
    font-weight: 650;
}

.title h1 {
    font-size: 20px;
    color: rgba(3, 3, 3, 0.979);
    margin: 7px;
    font-weight: 600;
}

.opciones {
    margin: 10px;
}